.reaction-icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 2%;
  /* left: 2%; */
  gap: 1rem;
  padding: 5px;
  /* justify-content: space-around; */
  width: 100%;
}
.reaction-icon {
  color: white;
  cursor: pointer;
  object-fit: contain;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(82, 82, 82, 0.525);
}

.like-icon:hover {
  color: #00a2e8;
}
.heart-icon:hover {
  color: #ed1c24;
}
.emoji-icon:hover {
  color: #ffcc4d;
}
.emoji-icon-angry:hover {
  color: #ed1c24;
}

.img-reaction-icon {
  cursor: pointer;
  object-fit: contain;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(82, 82, 82, 0.525);
}
.img-reaction-icon:hover {
  background-color: transparent;
}

.disabled-icon-reaction {
  pointer-events: none;
  opacity: 0.3;
}

.div-count-reaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-reaction {
  color: aliceblue;
}
