.container-watch-page {
  width: 100%;
  background-color: #191919;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.watch-page {
  width: 100%;
  margin-top: 70px; /* compensar header fixo */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #191919;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container .player-youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding-block: 2.2rem 3.9rem;
  /* background-color: #242424; */
  border-radius: 5px;
}

.views-count-watch {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 10;
  width: 100%;
}

.reactions-container {
  min-height: 65px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reactions-div-spred {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.reactions-div-spred-views {
  position: absolute;
  left: 0;
}
.reactions-div-spred-reactions {
  position: absolute;
  right: 50%;
}
.reactions-div-spred-favorites {
  position: absolute;
  right: 0;
}

.title-carousel-watch {
  color: aliceblue;
  font-size: xx-large;
}

@media (min-width: 1px) and (max-width: 600px) {
  .watch-page {
    margin-top: 0;
    height: calc(100vh - 70px);
  }
  .video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
