.category-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-title {
  /* margin-top: 3rem; */
  text-align: center;
  width: 100%;
  color: aliceblue;
  font-size: xx-large;
}
