.form-change-permission {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  min-height: 200px;
}

.name-user-form-change-perm {
  color: aliceblue;
  font-size: 25px;
}

.submit-button-change-permission {
  background: rgba(0, 0, 0, 0.7);
  outline: none;
  border-radius: 5px;
  border: 1px solid red;
  cursor: pointer;
}
.submit-button-change-permission:hover {
  background: rgba(255, 16, 16, 0.5);
  border: 1px solid rgb(0, 0, 0);
}

.submit-button-change-permission-disable {
  background: rgba(0, 0, 0, 0.437);
  outline: none;
  border-radius: 5px;
  border: 1px solid red;
  cursor: not-allowed; /* <- mostra visualmente que está desativado */
  opacity: 0.6; /* <- deixa mais "apagado" */
  pointer-events: none; /* <- previne qualquer interação mesmo se não tiver o atributo disabled */
}
