.button-mobile-header {
  display: none;
}

.header {
  background-color: black;
  border-bottom: 1px solid rgba(255, 0, 0, 0.618);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  min-height: 70px;
  z-index: 999;
}

.div-header {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
.div-header-nav {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.link-logo {
}

.logo-g-flix {
  width: 100px;
}

.link-header {
  text-decoration: none;
  color: aliceblue;
  padding: 0.5rem;
  position: relative;
}
.link-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: red; /* troca a cor se quiser */
  transition: width 0.5s ease;
  transform-origin: right;
}

.link-header:hover::after {
  width: 100%;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  color: aliceblue;
  border: none;
  gap: 3px;
  cursor: pointer;
}
.logout:hover {
  color: rgb(147, 147, 147);
}
.none {
  display: none;
}

@media (min-width: 1px) and (max-width: 600px) {
  .button-mobile-header {
    display: flex;
    position: fixed;
    top: 2%;
    right: 3%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 0.1px solid rgba(255, 0, 0, 0.534);
    border-radius: 100%;
    padding: 5px;
    z-index: 999;
  }
  .header {
    display: none;
  }

  .header-mobile {
    background-color: black;
    border-right: 1px solid rgba(255, 0, 0, 0.618);
    display: flex;
    position: fixed;
    left: 0;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    min-height: 70px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 999;
    animation: slideInFromLeft 0.5s ease-out forwards;
  }
  .div-header {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }
  .div-header-nav {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    justify-content: flex-start;
  }
  .link-header {
    border-bottom: 1px solid rgba(255, 0, 0, 0.395);
    padding-left: 20px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRigth {
  0% {
    transform: translateX(+100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
