.container-search {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 1rem;
  flex-wrap: wrap;
  min-height: 50vh;
}
