.div-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5rem;
  justify-content: flex-start;
  width: 98%;
  padding: 30px;
}

.div-carousel::-webkit-scrollbar {
  display: none;
}
